#add-category {
  margin: 0 auto;
  text-align: center;
}

#category-name-input {
  @include input(300px, 0.65rem, 0.75rem);
}

#category-name-lbl {
  margin: 0 20px;
}

#submit-category {
  @include button(100px);
  margin: 20px auto;

  &:hover {
    @include buttonHover();
  }
}
