@import './utils';
@import './navbar';
@import './category';
@import './alllists';

body {
  margin: 0;
  font-family: sans-serif;
  background-color: whitesmoke;
  // background-image: url('../img/team.png');
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: bottom right;
  // background-size: 800px 500px;
}

.error {
  color: red;
  font-size: 12px;
}
